.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 70px;

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}

.category__title {
  font-size: 21px;
  line-height: 30px;
  font-weight: 800;
  color: #3f3f3f;

  margin-bottom: 0;
}

.category__sections {
  list-style-type: none;
  padding: 0;

  margin-bottom: 45px;
}

.category__section {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

.category__section.selected {
  font-weight: 800;
  color: #60b8e5;
  padding-bottom: 5px;
  border-bottom: 3px solid #60b8e5;

}

.category-item {
  width: 300px;
  margin-bottom: 50px;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.category-item:last-child {
  margin-bottom: 0;
}

.category__first-line {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.category__second-line {
  display: none;

  @media (min-width: 1200px) {
    display: block;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.category-item__head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.category-item__logo {
  margin-right: 25px;
  width: 50px;
  height: 50px;
}

.category-item__title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 800;

  margin: 0 0 8px 0;
  padding: 0;
}

.category-item__members {
  flex-shrink: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.category-item__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.category-item__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-item__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-item__rating {
  width: 77px;
  height: 15px;

  margin-top: 10px;
  margin-right: 20px;
}

.category-item__like {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/thumbs-up.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-right: 15px;
  margin-top: 3px;
}

.category-item__dislike {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/thumbs-down.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-right: 15px;
  margin-top: 3px;
}

.category-item__open {
  position: relative;
  display: block;
  border: 2px solid #9ad2ef;
  padding-right: 35px;

  background: url(../img/up-arrow.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 75px 10px;
}

.category__look-all {
  margin-top: 40px;

  font-size: 16px;
  line-height: 24px;
  color: #9ad2ef;


   @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}
