.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 300px;
  margin: 0 auto;

  border-top: 1px solid #f1f1f1;

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.main-footer__info {
  margin-bottom: 35px;
}
