.without-overflow {
  overflow: hidden;
}

.layer {
  display: none;
  overflow: auto;
  position: fixed;
  bottom: 0; left: 0; top: 0; right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.layer-show {
  display: block;
  animation: opacityToggle 0.3s;
}

//.overlay {
//  display: none;
//  position: fixed;
//  z-index: 1;
//  bottom: 0; left: 0; top: 0; right: 0;
//  background: rgba(0, 0, 0, 0.7);
//  cursor: pointer;
//}
//
//.overlay-show {
//  display: block;
//  animation: opacityToggle 0.3s;
//}
