.recommended {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.recommended__title {
  font-size: 21px;
  line-height: 30px;
  font-weight: 800;
  color: #3f3f3f;

  margin-bottom: 45px;
}

.recommended__update {
  display: none;
}

.rec-item {
  margin-bottom: 50px;
}

.rec-item:last-child {
  margin-bottom: 0;
}

.rec-item__head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.rec-item__logo {
  margin-right: 25px;
  width: 50px;
  height: 50px;
}

.rec-item__title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 800;

  margin: 0 0 8px 0;
  padding: 0;
}

.rec-item__members {
  flex-shrink: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.rec-item_members--new {
  color: #2ea747;
}

.rec-item__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.rec-item__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.rec-item__like {
  border: 2px solid #9be4aa;
  padding-left: 35px;

  background: url(../img/thumbs-up.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 13px 7px;
}

.rec-item__dislike {
  border: 2px solid #ffe0e0;
  padding-left: 35px;

  background: url(../img/thumbs-down.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 13px 7px;
}

.rec-item__open {
  border: 2px solid #9ad2ef;
  background: url(../img/chevron-arrow-up.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;

  padding: 5px 20px;
}
