@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #616161;
  font-style: normal;
  font-weight: 400;

  margin: 0;
  padding: 0;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

a {
  color: #60b8e5;
}

a:hover {
  color: #9ad2ef;
}

a:visited {
  color: #663366;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  color: #616161;
  padding: 5px 15px;
  border-image: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
